.app_header{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #dcdcdc;
}
.app_header > form{
	width: 50%;
}
.task_input{
	font-size: 20px;
	font-weight: 500;
	background-color: #f6f5f4;
	color: black;
	border-radius: 5px;
	width: 100%;
	padding: 8px 12px;
	margin-bottom: 12px;
}
.task_input::placeholder{
	font-weight: 600;
}
.taskFormBottomLine{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.task_status{
	font-size: 16px;
	font-weight: 500;
	border:1px solid #999;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	padding: 0 5px;
}
.task_submit{
	font-size: 16px;
	font-weight: 500;
	background-color: #6457f9;
	color: white;
	border-radius: 5px;
	height: 30px;
	padding: 3px 13px;
	margin-left: 10px;
	border: none;
	cursor: pointer;
}